npm-debug.log*
lerna-debug.log*
coverage
stats.js
node_modules/
packages/*/lib/*
packages/*/dist/*
packages/*/es/*
packages/*/build/*


# Exclude IDE project folders
.idea
*.sublime-project
*.sublime-workspace
jsconfig.json

# OS files
.DS_STORE